#fundopreto {
  background-color: black;
  height: 1800px;
  width: 600px;
  margin: 0 auto;
}
.top{
  width: 600px;
}

#cabecalho {
  width: 600px;
  height: 153px;
}

#frase1 {
  width: 439;
  height: 68;
  color: #00a857;
  margin-left: 60px;
  font-size: 30px;
  font-weight: 700;
  font-family: "Helvetica";
  line-height: 35px;
}
#frase2 {
  width: 89px;
  height: 23px;
  color: #ffffff;
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 18px;
  margin: 60px 451px 60px 60px;
}
#frase3 {
  color: #ffffff;
  margin-left: 60px;
  width: 453px;
  height: 71px;
  font-weight: 400;
  font-family: "Helvetica";
  margin: 60px 87px 60px 60px;
}

.imgs1{
  width: 56px;
  height: 56px;
  margin: 0px 0px 0px 0px;
}

.frasesimg1 {
  margin: 0;
  color: #ffffff;
  font-family: "Helvetica";
  font-size: 18px;
  font-weight: 700;
}
#fundobranco {
  background-color: white;
  height: 1800px;
  width: 600px;
  margin: 0 auto;
}
#original{
  width: 540px;
  height: 96.72px;
  margin: 30px 30px 0 30px;
}
#sigaobanc0{
  width: 185px;
  height: 40px;
}